Test-Command: /usr/lib/dkms/dkms-autopkgtest
Restrictions: needs-root, allow-stderr
Depends: dkms

Tests: test-module-assistant
Restrictions: needs-root, allow-stderr
Depends: module-assistant, v4l2loopback-source
