Test-Command: /usr/lib/dkms/dkms-autopkgtest
Restrictions: needs-root, allow-stderr, flaky
Depends: dkms

Test-Command: module-assistant -vt build v4l2loopback
Restrictions: needs-root, allow-stderr
Depends: v4l2loopback-source, module-assistant, build-essential, g++, linux-headers-686-pae | linux-headers-amd64 | linux-headers-generic | linux-headers
